<!DOCTYPE html>
<html>
  <head>
    <title>SmartZip</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="masthead">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <h1><%= link_to 'SmartZip', root_path, class: "navbar-brand" %></h1>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= @user.email %><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#"><%= link_to 'Account', edit_user_registration_path %></a></li>
                    <li><a href="#"><%= link_to 'New Campaign', new_campaign_path %></a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></a></li>
                  </ul>
                </li>
              <% else %>
                <li><a href="/users/sign_in" type="button" class="btn btn-default">Sign In</a></li>
                <li><a href="/users/sign_up" type="button" class="btn btn-default">Sign Up</a></li>
              <% end %>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>

    <% if notice %>
  		<p class="alert alert-success"><%= notice %></p>
  	<% elsif alert %>
  		<p class="alert alert-warning"><%= alert %></p>
  	<% end %>

    <%= yield %>
  </body>
</html>
